In [1]:
import json
import pandas as pd

spot_df = pd.read_csv("./spot.csv")
history_df = pd.read_csv("./history.csv", parse_dates=["started_at", "ended_at"])
trip_df = pd.read_csv("./trip.csv", parse_dates=["created_at"])
user_df = pd.read_csv("./user.csv")

spot_df["spot_types"] = spot_df["spot_types"].map(json.loads)

spot_df

,spot_id,spot_name,lat,lon,count,spot_types,is_parking
0,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,34.731630,135.734690,14677,"[university, point_of_interest, establishment]",True
1,1,学際融合領域研究棟２号館,34.732260,135.732430,5131,"[university, point_of_interest, establishment]",True
2,2,物質創成科学領域E棟,34.730270,135.733930,4957,"[university, point_of_interest, establishment]",True
3,3,学研奈良登美ヶ丘駅,34.726800,135.754380,3829,"[spa, point_of_interest, establishment]",True
4,4,学際融合領域研究棟1号館,34.730930,135.735370,2679,"[university, point_of_interest, establishment]",True
...,...,...,...,...,...,...,...
1307,1307,御幸荘花結び,34.796163,135.252296,1,"[lodging, restaurant, point_of_interest, food,...",False
1308,1308,美容室リュバンドール(RUBAN D'OR),34.727334,135.715298,1,"[hair_care, beauty_salon, point_of_interest, e...",False
1309,1309,こぐま薬局西登美ヶ丘店,34.716811,135.745120,1,"[pharmacy, health, store, point_of_interest, e...",False
1310,1310,スーパーヤオヒコ 北大和店,34.726044,135.728961,1,"[supermarket, grocery_or_supermarket, store, f...",False
1311,1311,中野司朗レディースクリニック,34.724713,135.764325,1,"[doctor, point_of_interest, health, establishm...",False

In [2]:
history_df

,history_id,started_at,ended_at,from_parking_lot,to_parking_lot,car,passengers_count,distance,user_id
0,202204_0,2022-04-01 09:02:00,2022-04-01 12:37:00,NAIST,STATION,iMiev02,3,12.155552539654046,67
1,202204_1,2022-04-01 11:55:00,2022-04-01 13:11:00,NAIST,NAIST,LEAF (STAFF ONLY),1,14.526907989995856,2
2,202204_2,2022-04-01 12:41:00,2022-04-01 18:36:00,STATION,NAIST,iMiev02,3,22.336619868894612,67
3,202204_3,2022-04-01 17:44:00,2022-04-01 18:00:00,NAIST,NAIST,LEAF (STAFF ONLY),4,2.6650702613564605,8
4,202204_4,2022-04-01 18:43:00,2022-04-01 20:25:00,NAIST,NAIST,iMiev02,2,10,78
...,...,...,...,...,...,...,...,...,...
2423,202303_247,2023-03-31 17:22:00,2023-03-31 18:23:00,NAIST,NAIST,LEAF (STAFF ONLY),1,8.268403888105079,118
2424,202303_248,2023-03-31 17:44:00,2023-03-31 18:25:00,NAIST,STATION,BMW (STAFF ONLY),1,2.7994774190750578,137
2425,202303_249,2023-03-31 18:51:00,2023-03-31 20:43:00,NAIST,NAIST,LEAF (STAFF ONLY),1,5.700650492866569,9
2426,202303_250,2023-03-31 19:22:00,2023-04-01 05:14:00,NAIST,NAIST,iMiev02,1,6.73965243379831,156
2427,202303_251,2023-03-31 23:05:00,2023-04-01 05:41:00,NAIST,NAIST,iMiev01,1,20.32017307143929,129

In [3]:
print(trip_df.iloc[0]["created_at"].hour)

trip_df

9

,created_at,lat,lon,car,user_id,spot_id,history_id
0,2022-04-01 09:42:00+09:00,34.731556,135.734905,iMiev02,67,0,202204_0
1,2022-04-01 10:42:00+09:00,34.731556,135.734905,iMiev02,67,0,202204_0
2,2022-04-01 11:30:00+09:00,34.731605,135.734936,iMiev02,67,0,202204_0
3,2022-04-01 12:02:00+09:00,34.725523,135.789171,iMiev02,67,37,202204_0
4,2022-04-01 13:41:00+09:00,34.726816,135.754365,iMiev02,67,3,202204_2
...,...,...,...,...,...,...,...
10301,2023-03-31 19:48:00+09:00,34.726518,135.715110,LEAF (STAFF ONLY),9,68,202303_249
10302,2023-03-31 20:09:00+09:00,34.726648,135.754558,iMiev01,149,3,202303_245
10303,2023-03-31 20:16:00+09:00,34.731648,135.734976,iMiev02,156,0,202303_250
10304,2023-03-31 21:17:00+09:00,34.731648,135.734976,iMiev02,156,0,202303_250
10305,2023-03-31 22:17:00+09:00,34.731648,135.734976,iMiev02,156,0,202303_250

In [4]:
user_df

     user_id user_type
0          1     staff
1          2     staff
2          3     staff
3          4     staff
4          5     staff
..       ...       ...
190      191   student
191      192   student
192      193   student
193      194   student
194      195     staff

[195 rows x 2 columns]

In [11]:
"""必要なデータ(trip_df, spot_df)を結合し，データの整形"""
merged_df1 = pd.merge(trip_df, spot_df, on="spot_id")[["user_id", "spot_id", "spot_name", "created_at", "car", "is_parking"]]
merged_df1

,user_id,spot_id,spot_name,created_at,car,is_parking
0,67,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2022-04-01 09:42:00+09:00,iMiev02,True
1,67,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2022-04-01 10:42:00+09:00,iMiev02,True
2,67,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2022-04-01 11:30:00+09:00,iMiev02,True
3,69,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2022-04-01 22:37:00+09:00,iMiev02,True
4,67,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2022-04-02 07:39:00+09:00,iMiev02,True
...,...,...,...,...,...,...
10301,54,919,キヤノンシステムアンドサポート株式会社 奈良営業所,2023-03-28 18:53:00+09:00,LEAF (STAFF ONLY),False
10302,2,804,とがわ整骨院,2023-03-30 09:32:00+09:00,BMW (STAFF ONLY),False
10303,2,607,GREENSUN FOODグリーンサンフード,2023-03-30 10:18:00+09:00,BMW (STAFF ONLY),False
10304,2,607,GREENSUN FOODグリーンサンフード,2023-03-30 10:30:00+09:00,BMW (STAFF ONLY),False
10305,2,802,木津川アート壁画,2023-03-30 12:34:00+09:00,BMW (STAFF ONLY),False

In [6]:
"""必要なデータ(user_df)を追加結合"""
merged_df2 = pd.merge(merged_df1, user_df, on=["user_id"])
merged_df2

,user_id,spot_id,spot_name,created_at,car,is_parking,user_type
0,67,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2022-04-01 09:42:00+09:00,iMiev02,True,student
1,67,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2022-04-01 10:42:00+09:00,iMiev02,True,student
2,67,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2022-04-01 11:30:00+09:00,iMiev02,True,student
3,67,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2022-04-02 07:39:00+09:00,iMiev02,True,student
4,67,0,奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域,2022-04-02 08:39:00+09:00,iMiev02,True,student
...,...,...,...,...,...,...,...
10301,146,220,うなぎの豊川,2022-09-08 17:06:00+09:00,LEAF (STAFF ONLY),False,staff
10302,146,1219,株式会社久保組,2022-09-08 16:09:00+09:00,LEAF (STAFF ONLY),False,staff
10303,146,1220,もとやま助産所,2022-09-08 17:12:00+09:00,LEAF (STAFF ONLY),False,staff
10304,112,18,イオンモール奈良登美ヶ丘,2022-06-08 20:06:00+09:00,iMiev01,False,student
10305,3,253,ITTO個別指導学院 生駒台校,2022-09-22 13:35:00+09:00,LEAF (STAFF ONLY),False,staff

In [7]:
"""データの整形(条件で絞り込む)"""
filtered_df = merged_df2.query('is_parking == False & user_type == "student"').dropna().reset_index(drop=True)
filtered_df

,user_id,spot_id,spot_name,created_at,car,is_parking,user_type
0,67,37,サイクルショップ 高の原店,2022-04-01 12:02:00+09:00,iMiev02,False,student
1,67,37,サイクルショップ 高の原店,2022-05-23 15:44:00+09:00,iMiev02,False,student
2,67,70,EV充電スタンド,2022-04-01 14:25:00+09:00,iMiev02,False,student
3,67,70,EV充電スタンド,2022-04-01 15:25:00+09:00,iMiev02,False,student
4,67,70,EV充電スタンド,2022-04-11 08:41:00+09:00,iMiev02,False,student
...,...,...,...,...,...,...,...
3130,60,348,（社）奈良県警備業協会,2022-11-10 02:33:00+09:00,iMiev02,False,student
3131,60,348,（社）奈良県警備業協会,2022-11-11 02:14:00+09:00,iMiev01,False,student
3132,60,348,（社）奈良県警備業協会,2022-12-09 01:20:00+09:00,iMiev02,False,student
3133,110,159,ルーチェサンタルチア 生駒学園前店,2022-05-29 20:26:00+09:00,iMiev01,False,student
3134,112,18,イオンモール奈良登美ヶ丘,2022-06-08 20:06:00+09:00,iMiev01,False,student

In [8]:
"""最も多くの目的地を訪れたユーザーのデータを抽出"""
most_used_user = filtered_df["user_id"].value_counts().index[0]
most_used_user_df = filtered_df.query('user_id == @most_used_user').reset_index(drop=True)
most_used_user_df

,user_id,spot_id,spot_name,created_at,car,is_parking,user_type
0,78,70,EV充電スタンド,2022-07-20 17:26:00+09:00,iMiev01,False,student
1,78,48,奈良先端科学技術大学院大学 学生宿舎,2022-05-06 18:15:00+09:00,iMiev02,False,student
2,78,20,イオンモール高の原,2022-04-01 19:31:00+09:00,iMiev02,False,student
3,78,20,イオンモール高の原,2022-05-03 17:15:00+09:00,iMiev02,False,student
4,78,20,イオンモール高の原,2022-05-03 17:23:00+09:00,iMiev02,False,student
...,...,...,...,...,...,...,...
465,78,496,ハローワーク大和郡山,2023-03-04 16:27:00+09:00,iMiev02,False,student
466,78,496,ハローワーク大和郡山,2023-03-04 17:28:00+09:00,iMiev02,False,student
467,78,496,ハローワーク大和郡山,2023-03-04 18:28:00+09:00,iMiev02,False,student
468,78,763,マキノ健康センター・マキノ整骨院,2023-03-04 18:54:00+09:00,iMiev02,False,student
469,78,763,マキノ健康センター・マキノ整骨院,2023-03-04 19:01:00+09:00,iMiev02,False,student

In [14]:
"""spot_nameを集計して、円グラフにする"""
import plotly.express as px
most_used_user_spot_df = most_used_user_df["spot_name"].value_counts().reset_index()
most_used_user_spot_df.columns = ["spot_name", "count"]
fig = px.pie(most_used_user_spot_df, values="count", names="spot_name", title="Ranking by destination of students who visited the most destinations")
fig.update_traces(textposition='inside', textinfo='percent+label') 
fig.show()